{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}

    {# BREADCRUMB #}
    {{ component('breadcrumb', {
        'items': [
            { 'label': 'Catégories', 'url': path('category_all') },
            { 'label': category.name }
        ]
    }) }}

    {# CATEGORY #}
    <section>

        {{ component('section_header', {
            'title' : "Tous les articles consacré au <span class='text-orange-500'>" ~ category.name ~ "</span>",
            'description' : category.description,
            'titleTag' : 'h1',
        }) }}


        {% include 'article/list.html.twig' with { articles : category.articles } %}
    </section>

    {# OTHER CATEGORIES #}
    <aside>

        {{ component('section_header', {
            'title' : 'Autres catégories',
            'description' : 'Découvrez d\'autres catégories susceptibles de vous intéresser.',
            'titleTag' : 'h2',
        }) }}

        <ul class="space-y-2">
            {% for otherCategory in allCategory %}
                <li>
                    <a href="{{ path('category_display', { slug: otherCategory.slug }) }}" class="text-gray-700 hover:text-gray-900">
                        {{ otherCategory.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </aside>


{% endblock %}
