{# COMMENT FORM #}

{{ form_start(commentForm, {
    'attr': {
        'class': 'mb-6',
        'data-action': 'live#action',
        'data-action-name': 'prevent|save'
    }
}) }}

{% if form_errors(commentForm.content)|trim is not empty %}
<div id="alert-5" class="flex mb-4 p-4 bg-white border border-red-600 rounded-lg rounded-t-lg " role="alert">
    <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5 text-red-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
    <span class="sr-only">Erreur</span>
    <div class="ml-3 text-sm font-medium text-gray-700">
        {{ form_errors(commentForm.content) }}
    </div>
    <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-gray-100 text-gray-500 rounded-lg focus:ring-2 focus:ring-gray-400 p-1.5 hover:bg-gray-200 inline-flex h-8 w-8" data-dismiss-target="#alert-5" aria-label="Close">
        <span class="sr-only">Dismiss</span>
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </button>
</div>
{% endif %}


<div class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200">
    {{ form_label(commentForm.content, null, {
        'label_attr': {
            'class': 'text-sm font-bold text-gray-600'
        }
    }) }}
    {{ form_widget(commentForm.content, {
        'attr': {
            'class': 'px-0 w-full text-sm text-gray-900 border-0 focus:ring-0',
        }
    }) }}
</div>

{{ form_widget(commentForm.send, {
    'attr': {
        'class': 'inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-orange-500 rounded-lg focus:ring-4 focus:bg-orange-600 hover:bg-orange-800'
    }
}) }}

{{ form_rest(commentForm) }}

{{ form_end(commentForm) }}