{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}

    {# ARTICLE #}
    <article class="mx-auto w-full max-w-2xl mb-20 format format-sm sm:format-base lg:format-lg format-blue">

        {# BREADCRUMB #}
        {{ component('breadcrumb', {
            'items': [
                { 'label': 'Articles', 'url': path('category_all') },
                { 'label': article.title }
            ]
        }) }}

        <header class="mb-4 lg:mb-6 not-format">

            {# CATEGORIES TAGS #}
            {{ component('category_tag', {'categories': article.categories}) }}

            {# TITLE #}
            <h1 class="mb-4 mt-2 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl">
                {{ article.title }}
            </h1>

            {# AUTHOR & DATE #}
            <address class="flex items-center mb-6 not-italic">
                <div class="inline-flex items-center mr-3 text-sm text-gray-900">

                    <img class="mr-4 w-10 h-10 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-2.jpg" alt="Jese Leos">

                    <div>
                        <p class="text-base font-light text-gray-900">
                            Écrit par <a href="#" rel="author" class="font-bold">Jese Leos</a>
                        </p>
                        <p class="text-base font-light text-gray-500">
                            <time pubdate datetime="{{ article.createdAt|date('Y-m-d') }}"
                                  title="{{ article.createdAt|format_datetime('long', 'none', locale='fr') }}">{{ article.createdAt|format_datetime('long', 'none', locale='fr') }}</time>
                        </p>
                    </div>

                </div>
            </address>

        </header>

        {# FEATURED IMAGE #}
        {% if article.featuredImage %}
            <figure>
                <img src="/uploads/{{ article.featuredImage.filename }}" alt="{{ article.featuredImage.altText }}"
                     class="rounded-xl h-100 w-full object-cover object-center"
                >
                <figcaption>{{ article.featuredImage.altText }}</figcaption>
            </figure>
        {% endif %}

        {# ABSTRACT #}
        {% if article.abstract %}
            <p class="lead">{{ article.abstract|raw }}</p>
        {% endif %}

        {# CONTENT #}
        {{ article.content|raw }}

        {# COMMENT SECTION #}
        <section class="not-format mt-10">

            <div class="flex justify-between items-center mb-6">
                <h2 class="text-lg lg:text-2xl font-bold text-gray-900">
                    Discussion{{ article.comments|length > 1 ? 's' : '' }} ({{ article.comments|length }})
                </h2>
            </div>

            {# COMMENT FORM #}
            {{ component('comment_form', {
                'commentForm' : commentForm
            }) }}

            {% for comment in article.comments %}
                {{ component('comment_item', {'comment':comment }) }}
            {% endfor %}

            {# second comment #}
{#            <article class="p-6 mb-6 ml-6 lg:ml-12 text-base bg-white rounded-lg border">#}

{#                <footer class="flex justify-between items-center mb-2">#}

{#                    <div class="flex items-center">#}
{#                        <p class="inline-flex items-center mr-3 text-sm text-gray-900"><img class="mr-2 w-6 h-6 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-5.jpg"#}
{#                                                                                            alt="Jese Leos">Jese Leos</p>#}
{#                        <p class="text-sm text-gray-600">#}
{#                            <time pubdate="" datetime="2022-02-12" title="February 12th, 2022">Feb. 12, 2022</time>#}
{#                        </p>#}
{#                    </div>#}

{#                    <button id="dropdownComment2Button" data-dropdown-toggle="dropdownComment2"#}
{#                            class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-400 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50"#}
{#                            type="button">#}
{#                        <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">#}
{#                            <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z">#}
{#                            </path>#}
{#                        </svg>#}
{#                        <span class="sr-only">Comment settings</span>#}
{#                    </button>#}

{#                    <!-- Dropdown menu -->#}
{#                    <div id="dropdownComment2" class="z-10 w-36 bg-white rounded divide-y divide-gray-100 shadow hidden"#}
{#                         style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(997px, 6659px, 0px);" data-popper-placement="bottom">#}
{#                        <ul class="py-1 text-sm text-gray-700" aria-labelledby="dropdownMenuIconHorizontalButton">#}
{#                            <li><a href="#" class="block py-2 px-4 hover:bg-gray-100">Edit</a></li>#}
{#                            <li><a href="#" class="block py-2 px-4 hover:bg-gray-100">Remove</a></li>#}
{#                            <li><a href="#" class="block py-2 px-4 hover:bg-gray-100">Report</a></li>#}
{#                        </ul>#}
{#                    </div>#}

{#                </footer>#}

{#                <p>#}
{#                    Much appreciated! Glad you liked it ☺️#}
{#                </p>#}

{#                <div class="flex items-center mt-4 space-x-4">#}
{#                    <button type="button" class="flex items-center text-sm text-gray-500 hover:underline">#}
{#                        <svg aria-hidden="true" class="mr-1 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">#}
{#                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"#}
{#                                  d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"></path>#}
{#                        </svg>#}
{#                        Reply#}
{#                    </button>#}
{#                </div>#}

{#            </article>#}

        </section>

    </article>

    {# RECOMMANDED #}
    <aside aria-label="Related articles" class="py-8 lg:py-12 px-2 w-full">

        {{ component('section_header', {
            'title' : ' Articles qui vont vous <span class="text-orange-500">plaire</span>',
            'description' : 'Nos rédacteurs s\'efforcent de vous proposer des articles de qualité, mis à jour régulièrement, pour enrichir toujours plus vos connaissances.',
            'titleTag' : 'h1',
        }) }}

        <div class="grid gap-12 mt-5 sm:grid-cols-2 lg:grid-cols-4">
            {% for article in recommendedArticles %}
                {{ component('article_recommanded_item', {
                    'article' : article,
                }) }}
            {% endfor %}
        </div>

    </aside>

    {# NEWSLETTER #}
    {{ include('elements/newsletter.html.twig') }}


{% endblock %}
