{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}

    {# ARTICLE #}
    <article class="mx-auto w-full max-w-2xl mb-20 format format-sm sm:format-base lg:format-lg format-blue">

        {# BREADCRUMB #}
        <nav class="mx-auto flex -mt-5 mb-8 not-format" aria-label="Breadcrumb">

            <ol class="inline-flex items-center space-x-1 md:space-x-3">
                <li class="inline-flex items-center">
                    <a href="{{ path('app_home') }}" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900">
                        <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path>
                        </svg>
                        Accueil
                    </a>
                </li>

                <li>
                    <div class="flex items-center">
                        <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                        </svg>
                        <a href="{{ path('category_all') }}" class="ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2">Articles</a>
                    </div>
                </li>

                <li aria-current="page">
                    <div class="flex items-center">
                        <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                        </svg>
                        <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2">{{ article.abstract|length > 100 ? article.title|slice(0, 100) ~ '...' : article.title }}</span>
                    </div>
                </li>
            </ol>

        </nav>

        <header class="mb-4 lg:mb-6 not-format">

            {# CATEGORIES #}
            <div class="flex flex-wrap gap-2 items-center mb-4">
                {% for category in article.categories %}
                    <a href="{{ path('category_display', {slug: category.slug}) }}"
                       class="bg-orange-500 text-white text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded hover:bg-orange-600 transition">
                        <svg class="mr-1 w-3 h-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2 5a2 2 0 012-2h8a2 2 0 012 2v10a2 2 0 002 2H4a2 2 0 01-2-2V5zm3 1h6v4H5V6zm6 6H5v2h6v-2z" clip-rule="evenodd"></path>
                            <path d="M15 7h1a2 2 0 012 2v5.5a1.5 1.5 0 01-3 0V7z"></path>
                        </svg>
                        {{ category.name }}
                    </a>
                {% endfor %}
            </div>

            {# TITLE #}
            <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl">
                {{ article.title }}
            </h1>

            {# AUTHOR & DATE #}
            <address class="flex items-center mb-6 not-italic">
                <div class="inline-flex items-center mr-3 text-sm text-gray-900">

                    <img class="mr-4 w-10 h-10 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-2.jpg" alt="Jese Leos">

                    <div>
                        <p class="text-base font-light text-gray-900">
                            Écrit par <a href="#" rel="author" class="font-bold">Jese Leos</a>
                        </p>
                        <p class="text-base font-light text-gray-500">
                            <time pubdate datetime="{{ article.createdAt|date('Y-m-d') }}"
                                  title="{{ article.createdAt|format_datetime('long', 'none', locale='fr') }}">{{ article.createdAt|format_datetime('long', 'none', locale='fr') }}</time>
                        </p>
                    </div>

                </div>
            </address>

        </header>

        {# FEATURED IMAGE #}
        {% if article.featuredImage %}
            <figure>
                <img src="/uploads/{{ article.featuredImage.filename }}" alt="{{ article.featuredImage.altText }}"
                     class="rounded-xl h-100 w-full object-cover object-center"
                >
                <figcaption>{{ article.featuredImage.altText }}</figcaption>
            </figure>
        {% endif %}

        {# ABSTRACT #}
        {% if article.abstract %}
            <p class="lead">{{ article.abstract|raw }}</p>
        {% endif %}

        {# CONTENT #}
        {{ article.content|raw }}

        {# COMMENT SECTION #}
        <section class="not-format mt-10">

            <div class="flex justify-between items-center mb-6">
                <h2 class="text-lg lg:text-2xl font-bold text-gray-900">Discussion (20)</h2>
            </div>

            <form class="mb-6">

                <div class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200">
                    <label for="comment" class="sr-only">Your comment</label>
                    <textarea id="comment" rows="6" class="px-0 w-full text-sm text-gray-900 border-0 focus:ring-0" placeholder="Write a comment..." required=""></textarea>
                </div>

                <button type="submit"
                        class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-orange-500 rounded-lg focus:ring-4 focus:bg-orange-600 hover:bg-orange-800">
                    Post comment
                </button>

            </form>

            {# first comment #}
            <article class="p-6 mb-6 text-base bg-white rounded-lg border">

                <footer class="flex justify-between items-center mb-2">

                    <div class="flex items-center">
                        <p class="inline-flex items-center mr-3 text-sm text-gray-900"><img class="mr-2 w-6 h-6 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-2.jpg"
                                                                                            alt="Michael Gough">Michael Gough</p>
                        <p class="text-sm text-gray-6000">
                            <time pubdate="" datetime="2022-02-08" title="February 8th, 2022">Feb. 8, 2022</time>
                        </p>
                    </div>

                    <button id="dropdownComment1Button" data-dropdown-toggle="dropdownComment1"
                            class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-400 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50"
                            type="button">
                        <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z">
                            </path>
                        </svg>
                        <span class="sr-only">Comment settings</span>
                    </button>

                    <!-- Dropdown menu -->
                    <div id="dropdownComment1" class="z-10 w-36 bg-white rounded divide-y divide-gray-100 shadow hidden"
                         style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(997px, 6435px, 0px);" data-popper-placement="bottom">
                        <ul class="py-1 text-sm text-gray-700" aria-labelledby="dropdownMenuIconHorizontalButton">
                            <li><a href="#" class="block py-2 px-4 hover:bg-gray-100">Edit</a></li>
                            <li><a href="#" class="block py-2 px-4 hover:bg-gray-100">Remove</a></li>
                            <li><a href="#" class="block py-2 px-4 hover:bg-gray-100">Report</a></li>
                        </ul>
                    </div>

                </footer>

                <p>
                    Very straight-to-point article. Really worth time reading. Thank you! But tools are just the
                    instruments for the UX designers. The knowledge of the design tools are as important as the
                    creation of the design strategy.
                </p>

                <div class="flex items-center mt-4 space-x-4">
                    <button type="button" class="flex items-center text-sm text-gray-500 hover:underline">
                        <svg aria-hidden="true" class="mr-1 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"></path>
                        </svg>
                        Reply
                    </button>
                </div>

            </article>

            {# second comment #}
            <article class="p-6 mb-6 ml-6 lg:ml-12 text-base bg-white rounded-lg border">

                <footer class="flex justify-between items-center mb-2">

                    <div class="flex items-center">
                        <p class="inline-flex items-center mr-3 text-sm text-gray-900"><img class="mr-2 w-6 h-6 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-5.jpg"
                                                                                            alt="Jese Leos">Jese Leos</p>
                        <p class="text-sm text-gray-600">
                            <time pubdate="" datetime="2022-02-12" title="February 12th, 2022">Feb. 12, 2022</time>
                        </p>
                    </div>

                    <button id="dropdownComment2Button" data-dropdown-toggle="dropdownComment2"
                            class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-400 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50"
                            type="button">
                        <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z">
                            </path>
                        </svg>
                        <span class="sr-only">Comment settings</span>
                    </button>

                    <!-- Dropdown menu -->
                    <div id="dropdownComment2" class="z-10 w-36 bg-white rounded divide-y divide-gray-100 shadow hidden"
                         style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(997px, 6659px, 0px);" data-popper-placement="bottom">
                        <ul class="py-1 text-sm text-gray-700" aria-labelledby="dropdownMenuIconHorizontalButton">
                            <li><a href="#" class="block py-2 px-4 hover:bg-gray-100">Edit</a></li>
                            <li><a href="#" class="block py-2 px-4 hover:bg-gray-100">Remove</a></li>
                            <li><a href="#" class="block py-2 px-4 hover:bg-gray-100">Report</a></li>
                        </ul>
                    </div>

                </footer>

                <p>
                    Much appreciated! Glad you liked it ☺️
                </p>

                <div class="flex items-center mt-4 space-x-4">
                    <button type="button" class="flex items-center text-sm text-gray-500 hover:underline">
                        <svg aria-hidden="true" class="mr-1 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"></path>
                        </svg>
                        Reply
                    </button>
                </div>

            </article>

        </section>

    </article>

    {# RECOMMANDED #}
    <aside aria-label="Related articles" class="py-8 lg:py-12 px-2 w-full">

        <header class="pb-5 border-b">
            <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:text-4xl">
                Articles qui vont vous <span class="text-orange-500">plaire</span>
            </h1>
            <p class="text-gray-500 text-xl font-light">
                Nos rédacteurs s'efforcent de vous proposer des articles de qualité, mis à jour régulièrement, pour enrichir toujours plus vos connaissances.
            </p>
        </header>

        <div class="grid gap-12 mt-5 sm:grid-cols-2 lg:grid-cols-4">
            <article class="max-w-xs">
                <a href="#">
                    <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/article/blog-1.png" class="mb-3 rounded-lg" alt="Image 1">
                </a>
                <h2 class="text-xl font-bold leading-tight text-gray-900 mb-1">
                    <a href="#">Our first office</a>
                </h2>
                <time class="block text-xs font-light text-gray-500 mb-2">13 septembre 2022</time>
                <p class="mb-2 font-light text-gray-500">Over the past year, Volosoft has undergone many changes! After months of preparation.</p>
                <a href="#" class="inline-flex items-center font-medium text-orange-500 hover:underline">
                    Read more
                    <svg class="ml-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                              clip-rule="evenodd"></path>
                    </svg>
                </a>
            </article>
            <article class="max-w-xs">
                <a href="#">
                    <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/article/blog-2.png" class="mb-3 rounded-lg" alt="Image 2">
                </a>
                <h2 class="text-xl font-bold leading-tight text-gray-900 mb-1">
                    <a href="#">Enterprise design tips</a>
                </h2>
                <time class="block text-xs font-light text-gray-500 mb-2">13 septembre 2022</time>
                <p class="mb-2 font-light text-gray-500">Over the past year, Volosoft has undergone many changes! After months of preparation.</p>
                <a href="#" class="inline-flex items-center font-medium text-orange-500 hover:underline">
                    Read more
                    <svg class="ml-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                              clip-rule="evenodd"></path>
                    </svg>
                </a>
            </article>
            <article class="max-w-xs">
                <a href="#">
                    <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/article/blog-3.png" class="mb-3 rounded-lg" alt="Image 3">
                </a>
                <h2 class="text-xl font-bold leading-tight text-gray-900 mb-1">
                    <a href="#">We partnered with Google</a>
                </h2>
                <time class="block text-xs font-light text-gray-500 mb-2">13 septembre 2022</time>
                <p class="mb-2 font-light text-gray-500">Over the past year, Volosoft has undergone many changes! After months of preparation.</p>
                <a href="#" class="inline-flex items-center font-medium text-orange-500 hover:underline">
                    Read more
                    <svg class="ml-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                              clip-rule="evenodd"></path>
                    </svg>
                </a>
            </article>
            <article class="max-w-xs">
                <a href="#">
                    <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/article/blog-4.png" class="mb-3 rounded-lg" alt="Image 4">
                </a>
                <h2 class="text-xl font-bold leading-tight text-gray-900 mb-1">
                    <a href="#">Our first project with React</a>
                </h2>
                <time class="block text-xs font-light text-gray-500 mb-2">13 septembre 2022</time>
                <p class="mb-2 font-light text-gray-500">Over the past year, Volosoft has undergone many changes! After months of preparation.</p>
                <a href="#" class="inline-flex items-center font-medium text-orange-500 hover:underline">
                    Read more
                    <svg class="ml-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                              clip-rule="evenodd"></path>
                    </svg>
                </a>
            </article>
        </div>

    </aside>

    {# CTA #}
    <section class="my-5 border bg-white px-6 rounded-xl mx-auto max-w-screen-xl lg:px-10 lg:py-12 flex space-x-2 gap-10 justify-between items-center">

        <div class="flex flex-col items-start text-left w-6/12">
            <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">Abonnez vous <br> pour ne rien louper ! &#127867</h2>
            <p class="max-w-2xl font-light text-gray-500 sm:text-xl">Restez au courant des nouveautés, des évènements collaboratifs ainsi que nos articles, le tout <b>gratuitement</b>.</p>
        </div>

        <form action="#" class="w-5/12">
            <div class="items-center mx-auto mb-3 space-y-4 max-w-screen-sm sm:flex sm:space-y-0">
                <div class="relative w-full">
                    <label for="email" class="hidden mb-2 text-sm font-medium text-gray-900">Adresse e-mail</label>
                    <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                        <svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
                            <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
                        </svg>
                    </div>
                    <input class="block p-3 pl-10 w-full text-sm text-gray-900 bg-white focus:ring-0 focus:border-gray-400 rounded-lg border border-gray-300 sm:rounded-none sm:rounded-l-lg"
                           placeholder="Saisissez votre adresse e-mail" type="email" id="email" required="">
                </div>
                <div>
                    <button type="submit"
                            class="py-3 px-5 w-full text-sm font-medium text-center text-white rounded-lg cursor-pointer bg-orange-500 border-orange-500 border sm:rounded-none sm:rounded-r-lg hover:bg-orange-600 focus:ring-orange-500">
                        S'abonner
                    </button>
                </div>
            </div>
            <div class="mx-auto max-w-screen-sm text-xs text-left text-gray-500 newsletter-form-footer">Vos données restent privées. <a href="#" class="font-medium text-primary-600 hover:underline">Notre
                    politique de confidentialité</a>.
            </div>
        </form>

    </section>

{% endblock %}
